@import "variables.scss";
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Start Navbar
#header {
    a {
        color: #111;
        transition: 0.2s;
        &:hover {
            color: $secondColor;
        }
    }
    img {
        width: 10%;
        @media (max-width: 1024px) {
            width: 15%;
        }
    }
    .nav-links {
        margin-left: 30px;
        font-size: 16px;
    }
    .links {
        font-size: 16px;
        .login,
        .signup {
            padding-right: 30px;
        }
        button {
            background-color: $mainColor;
            border: 0;
            color: #FFF;
            padding: 0px 10px;
            &:hover {
                background-color: $mainColor_hover;
            }
        }
    }
}

// End Navbar
// Start Carousel
.main-carousel {
    position: relative;
    overflow: hidden;
    .main-carousel-caption {
        position: absolute;
        top: 10em;
        left: 5em;
        width: 580px;
        color: #FFF;
        z-index: 1;
        h1 {
            font-size: 2.5625rem;
            font-weight: bold;
        }
        .lead {
            font-size: 1.25rem;
            font-weight: 500;
        }
        button {
            width: 150px;
            height: 50px;
            display: inline-block;
            color: #FFF;
            font-size: 20px;
            font-weight: bold;
            border: 2px solid #FFF;
        }
        button:first-of-type {
            background-color: $mainColor;
            border-color: $mainColor;
        }
        button:first-of-type:hover {
            background-color: $mainColor_hover;
            border-color: $mainColor_hover;
        }
        button:last-of-type {
            margin-left: 15px;
            background: transparent;
        }
        button:last-of-type:hover {
            background: rgba(57, 108, 203, 0.75);
        }
    }
    .carousel-indicators {
        right: 84%;
        bottom: 5%;
        margin: 0;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
    .carousel-indicators .active,
    .carousel-indicators li {
        height: 11px;
        width: 11px;
        border-radius: 50%;
        text-align: left;
    }
    .carousel-caption {
        font-size: 18px;
        font-weight: 500;
        text-align: right;
        label {
            bottom: 5%;
            width: 60px;
            height: 60px;
            line-height: 60px;
            padding-right: 7px;
            font-size: 20px;
            background-color: rgba(0, 0, 0, .6);
            border-radius: 50px;
        }
    }
}

// End Carousel
// Start AsUsedBy
#as-used-by-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 80px;
    span {
        font-size: 20px;
        font-weight: 500;
        color: #777;
    }
}

// End AsUsedBy
// Start NeedWorkDone
.work-done {
    margin-bottom: 80px;
    h2 {
        margin-bottom: 60px;
        font-weight: 700;
    }
    img,
    h3 {
        margin-bottom: 25px;
    }
    p {
        font-size: 18px;
        font-weight: 500;
    }
}

// End NeedWorkDone
// Start GreatAboutIt
#great-about {
    margin-bottom: 80px;
    h2 {
        margin-bottom: 60px;
        text-align: center;
        font-weight: 700;
    }
    img,
    h3 {
        display: block;
        float: left;
        margin-right: 20px;
    }
    p {
        float: left;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
    }
}

// End GreatAboutIt
// Start Favorite
#favorite {
    background: #EEE;
    padding: 60px 0;
    margin-bottom: 80px;
    h2 {
        text-align: center;
        font-weight: 700;
        line-height: 3rem;
        padding: 30px 0;
    }
    .crowd-box {
        background: #FFF;
        margin-bottom: 40px;
        img {
            width: 100%;
            height: 100%;
        }
        .price-box {
            padding: 20px;
            h5 {
                font-weight: 700;
            }
            span {
                font-size: 22px;
            }
        }
    }
}

// End Favorite
// Start Categories
.categories {
    margin-bottom: 80px;
    h2 {
        text-align: center;
        margin-bottom: 40px;
    }
    .row {
        cursor: pointer;
        img {
            display: block;
            margin: auto;
        }
        a {
            margin-top: 5px;
            display: block;
            font-size: 13px;
            color: #000;
        }
    }
}

// End Categories
//  Start API
.api-section {
    margin-bottom: 80px;
    .col {
        display: flex;
        background-color: $cardColor;
        padding: 20px;
        margin-left: 20px;
        border-radius: 5px;
        img {
            width: 52%;
        }
        .api-price {
            text-align: right;
            span {
                color: $secondColor;
            }
            button {
                padding: 7px;
                background-color: $secondColor;
                color: #FFF;
                font-size: 15px;
                font-weight: bold;
                border: 2px solid $secondColor;
            }
        }
        .enter-price {
            span {
                color: $secondColor;
            }
            button {
                padding: 7px;
                margin-top: 24px;
                background-color: $secondColor;
                color: #FFF;
                font-size: 15px;
                font-weight: bold;
                border: 2px solid $secondColor;
            }
        }
    }
}

//  End API
// Start JobCategories
.job {
    margin-bottom: 80px;
    h2 {
        text-align: center;
        margin-bottom: 40px;
    }
    .col {
        a {
            display: block;
            padding: 0 0 7px;
            color: #000;
            list-style: none;
            transition: .2s ease-in-out;
            &:hover {
                color: $secondColor;
                text-decoration: underline;
            }
        }
        .fas {
            padding-right: 10px;
            color: #ffc24e;
        }
    }
}

// End JobCategories
// Start FooterSection
.footer {
    height: 650px;
    background-color: #161e2c;
    .col-md-4 {
        img {
            width: 40%;
            margin-bottom: 25px;
            cursor: pointer;
            padding: 30px 0;
        }
        .support {
            a {
                display: block;
                margin-bottom: 15px;
                color: #FFF;
            }
            i {
                font-size: 20px;
                margin-right: 15px;
            }
        }
    }
    .col-md-2 {
        padding-top: 30px;
        span {
            color: #FFF;
            font-size: 18px;
            font-weight: bold;
        }
        a {
            margin-top: 7px;
            display: block;
            color: #999;
            transition: .3s ease-in-out;
            &:hover {
                color: #FFF;
            }
        }
        .app {
            margin-top: 7px;
            img {
                margin-bottom: 20px;
                cursor: pointer;
            }
        }
        .font-awe {
            color: #FFF;
            font-size: 20px;
            i {
                padding-right: 20px;
                cursor: pointer;
                transition: .3s ease-in-out;
            }
        }
        .fa-facebook:hover {
            color: #4267B2;
        }
        .fa-twitter:hover {
            color: #1DA1F2;
        }
        .fa-youtube:hover {
            color: #F00;
        }
        .fa-instagram:hover {
            color: #C13584;
        }
        .footer-desc {
            color: #FFF;
        }
    }
    .dropdown-divider {
        margin-top: 50px;
        padding: 30px 0;
    }
    .footer-desc {
        color: #FFF;
    }
    .col-md-3 {
        h6 {
            font-size: 15px;
        }
    }
    .col-md-6 {
        .footer-desc {
            font-size: 12px;
            padding-left: 80px;
        }
    }
}

// End FooterSection