* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Start Navbar
.container {
    img {
        width: 10%;
    }
    .nav-links {
        font-size: 18px;
        .nav-works-btn {
            padding-right: 30px;
            color: #000;
        }
        .jobs {
            color: #000;
        }
    }
    .links {
        margin-right: 20%;
        font-size: 18px;
        .login {
            padding-right: 30px;
            color: #000;
        }
        .signup {
            padding-right: 30px;
            color: #000;
        }
        button {
            background-color: #fc8c14;
            border: 1px solid #f77d0e;
            color: #FFF;
        }
    }
}

// End Navbar
// Start Carousel
.expert {
    img {
        width: 100%;
    }
    .carousel-indicators {
        margin-left: -65%;
        bottom: 30px;
    }
    .carousel-indicators li {
        margin-right: 7px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .carousel-caption {
        max-width: 600px;
        text-align: left;
        padding-bottom: 150px;
        right: 25%;
        left: 5%;
    }
    .carousel-caption .caption_title {
        font-size: 40px;
        line-height: 60px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .carousel-caption p {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;
    }
    button {
        padding: 10px;
        margin-right: 15px;
        font-size: 18px;
    }
    button:first-of-type {
        background: #fc8c14;
        border: 2px solid #f77d0e;
        color: #FFF;
        font-weight: 700;
    }
    button:last-of-type {
        background: transparent;
        border: 2px solid #FFF;
        color: #FFF;
        font-weight: 700;
    }
}

// End Carousel
// Start Company
.company-title {
    padding: 40px;
    span {
        font-size: 20px;
        color: #767676;
        padding-right: 55px;
    }
    img {
        padding-right: 55px;
    }
}

// End Company