@import "variables.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Start Navbar
#header {
    padding: 15px;
    .jobs {
        display: inline;
        img {
            width: 12%;
            @media (max-width: 767px) {
                width: 30%;
            }
        }
        a {
            margin: 20px;
            color: #000;
            font-size: 17px;
            font-weight: 500;
            transition: .3s ease-in-out;
            &:hover {
                text-decoration: none;
                color: $secondColor;
            }
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
    .contact {
        float: right;
        a {
            margin: 20px;
            color: #000;
            font-size: 17px;
            font-weight: 500;
            transition: .3s ease-in-out;
            &:hover {
                text-decoration: none;
                color: $secondColor;
            }
            @media (max-width: 767px) {
                margin-right: 10px;
            }
        }
        button {
            padding: 5px;
            font-size: 15px;
            color: #FFF;
            background-color: $mainColor;
            border: 0;
            &:hover {
                background-color: $mainColor_hover;
            }
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}

// End Navbar
// Start MainCarousel
.main-carousel {
    position: relative;
    overflow: hidden;
    .main-carousel-caption {
        position: absolute;
        top: 10em;
        left: 5rem;
        width: 580px;
        color: #FFF;
        z-index: 10;
        @media (min-width: 1900px) {
            left: 25rem;
            margin-top: 90px;
        }
        @media (max-width: 800px) {
            display: none;
        }
        h1 {
            font-size: 2.5625rem;
            font-weight: bold;
        }
        .lead {
            font-size: 1.25rem;
            font-weight: 500;
        }
        button {
            width: 150px;
            height: 50px;
            display: inline-block;
            color: #FFF;
            font-size: 20px;
            font-weight: bold;
            border: 2px solid #FFF;
        }
        button:first-of-type {
            background-color: $mainColor;
            border-color: $mainColor;
        }
        button:first-of-type:hover {
            background-color: $mainColor_hover;
            border-color: $mainColor_hover;
        }
        button:last-of-type {
            margin-left: 15px;
            background: transparent;
        }
        button:last-of-type:hover {
            background: rgba(57, 108, 203, 0.75);
        }
    }
    .carousel-indicators {
        right: 80%;
        bottom: 5%;
        margin: 0;
        @media (min-width: 1900px) {
            display: none;
        }
        @media (max-width: 800px) {
            display: none;
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
    .carousel-indicators .active,
    .carousel-indicators li {
        height: 11px;
        width: 11px;
        border-radius: 50%;
        text-align: left;
    }
    .carousel-caption {
        font-size: 18px;
        font-weight: 500;
        padding-left: 50%;
        bottom: 5%;
        @media (min-width: 1920px) {
            display: none;
        }
        @media (max-width: 800px) {
            display: none;
        }
        label {
            width: 60px;
            height: 60px;
            line-height: 60px;
            padding-right: 7px;
            font-size: 20px;
            background-color: rgba(0, 0, 0, .6);
            border-radius: 50px;
        }
    }
}

// End MainCarousel
// Start AsUsedBy
#as-used-by-block {
    display: flex;
    padding: 35px 0;
    .col {
        margin-right: 15px;
        @media (max-width: 800px) {
            margin-right: 25px;
            margin-bottom: 30px;
        }
        @media (max-width: 414px) {
            margin-right: 30px;
        }
    }
    span {
        margin-right: 40px;
        font-size: 20px;
        font-weight: 500;
        color: #777;
        margin-right: 15px;
        @media (max-width: 800px) {
            display: none;
        }
    }
}

// End AsUsedBy
// Start NeedWorkDone
.work-done {
    margin-bottom: 80px;
    h2 {
        margin-bottom: 60px;
        font-weight: 700;
    }
    img {
        width: 70%;
        margin-bottom: 15px;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    h3 {
        margin-bottom: 25px;
    }
    p {
        font-size: 18px;
        font-weight: 500;
        @media (min-width: 374px) {
            margin-bottom: 30px;
        }
    }
}

// End NeedWorkDone
// Start GreatAboutIt
#great-about {
    margin-bottom: 80px;
    h2 {
        margin-bottom: 60px;
        text-align: center;
        font-weight: 700;
    }
    img,
    h3 {
        display: block;
        float: left;
        margin-right: 20px;
    }
    p {
        float: left;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
        @media (min-width: 374px) {
            margin-bottom: 35px;
        }
    }
}

// End GreatAboutIt
// Start Favorite
#favorite {
    background: #EEE;
    padding: 60px 0;
    margin-bottom: 80px;
    h2 {
        text-align: center;
        font-weight: 700;
        line-height: 3rem;
        padding: 30px 0;
    }
    .crowd-box {
        box-shadow: 7px 7px 8px rgb(224, 222, 222);
        box-shadow: -7px -7px -8px rgb(224, 222, 222);
        background: #FFF;
        margin-bottom: 40px;
        img {
            width: 100%;
            height: 100%;
        }
        .price-box {
            padding: 20px;
            h5 {
                font-weight: 700;
            }
            span {
                font-size: 22px;
            }
        }
    }
}

// End Favorite
// Start Categories
.categories {
    margin-bottom: 80px;
    h2 {
        text-align: center;
        margin-bottom: 40px;
    }
    .row {
        cursor: pointer;
        .category {
            margin-bottom: 15px;
            @media(max-width: 768px) {
                background-color: #F7F7F7;
                margin: 5px;
                padding: 30px;
                a {
                    font-size: 8px;
                }
            }
            @media(max-width: 414px) {
                padding: 15px;
            }
            img {
                display: block;
                margin: auto;
            }
            a {
                margin-top: 5px;
                display: block;
                font-size: 13px;
                color: #000;
            }
        }
    }
}

// End Categories
//  Start API
.cards {
    margin-bottom: 80px;
    color: #000;
    @media (min-width: 768px) {
        max-width: 900px;
    }
    @media (min-width: 1200px) {
        max-width: 1200px;
    }
    .lhs {
        background: $cardColor;
        padding: 24px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .08), 0 2px 4px 0 rgba(0, 0, 0, .12);
        border-radius: 5px;
    }
    .row {
        justify-content: space-between;
    }
    .col-md-6 {
        @media (min-width: 768px) {
            flex: 0 0 50%;
            max-width: 49%;
        }
        .row {
            @media (max-width: 1200px) {
                background-color: #FFF;
                padding: 0;
                margin-top: 30px;
            }
            .col-xl-6 {
                @media (max-width: 1200px) {
                    background: $bgCard;
                    padding: 0px 116px;
                }
            }
            .details {
                @media (max-width: 1200px) {
                    padding: 30px;
                    background-color: #FFF;
                    height: 220px;
                }
            }
            img {
                @media (max-width: 1200px) {
                    max-width: 300px;
                }
            }
        }
    }
    span {
        font-size: 16px;
        text-transform: uppercase;
        color: $btnColor;
    }
    h3 {
        font-size: 20px;
        font-weight: 700;
        margin: 16px 0;
    }
    p {
        height: 75px;
    }
    a {
        cursor: pointer;
        text-decoration: none;
        padding: 7px 12px;
        color: #FFF;
        background: linear-gradient(180deg, #139ff0 0, $btnColor);
        text-transform: capitalize;
        font-weight: 600;
        font-size: 14px;
        border: 1px solid #1f7ae2;
        &:hover {
            background: #1f7ae2;
        }
    }
}

//  End API
// Start JobCategories
.job {
    margin-bottom: 80px;
    h2 {
        text-align: center;
        margin-bottom: 40px;
    }
    .col-md-3 {
        a {
            display: block;
            padding: 0 0 7px;
            color: #000;
            list-style: none;
            transition: .2s ease-in-out;
            &:hover {
                color: $secondColor;
                text-decoration: underline;
            }
        }
        .fas {
            padding-right: 10px;
            color: #ffc24e;
        }
    }
}

// End JobCategories
// Start FooterSection
.footer {
    background-color: #161e2c;
    .col-lg-4 {
        img {
            width: 40%;
            cursor: pointer;
            padding: 30px 0;
            @media (max-width: 768px) {
                width: 25%;
            }
        }
        .support {
            padding: 20px 0;
            @media (min-width: 374px) {
                font-size: 15px;
            }
            a {
                color: #FFF;
            }
            i {
                font-size: 20px;
                margin-right: 15px;
                @media (min-width: 374px) {
                    font-size: 15px;
                }
            }
        }
    }
    .col-lg-2 {
        padding-top: 30px;
        @media (min-width: 374px) {
            font-size: 15px;
        }
        span {
            color: #FFF;
            font-size: 18px;
            font-weight: bold;
        }
        a {
            margin-top: 7px;
            display: block;
            color: #999;
            transition: .3s ease-in-out;
            @media (min-width: 374px) {
                margin-top: 5px;
            }
            &:hover {
                color: #FFF;
            }
        }
        #apps_block {
            .apps {
                .app {
                    img {
                        margin-bottom: 20px;
                        cursor: pointer;
                        @media(max-width: 414px) {
                            margin-top: 10px;
                            margin-right: 10px;
                        }
                    }
                }
                @media(max-width: 414px) {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
            }
        }
        .icons {
            display: flex;
            i {
                padding-right: 20px;
                color: #FFF;
                font-size: 20px;
                cursor: pointer;
                transition: .3s ease-in-out;
            }
            .fa-facebook:hover {
                color: #4267B2;
            }
            .fa-twitter:hover {
                color: #1DA1F2;
            }
            .fa-youtube:hover {
                color: #F00;
            }
            .fa-instagram:hover {
                color: #C13584;
            }
            .footer-desc {
                color: #FFF;
            }
        }
    }
    .dropdown-divider {
        margin-top: 50px;
        padding: 30px 0;
    }
    .footer-desc {
        color: #FFF;
    }
    .col-lg-3 {
        margin-bottom: 50px;
        @media (max-width: 768px) {
            display: none;
        }
        h6 {
            font-size: 15px;
        }
    }
    .col-lg-6 {
        @media (min-width: 374px) {
            bottom: 25px;
        }
        .footer-desc {
            font-size: 12px;
            padding: 20px 0;
        }
    }
}

// End FooterSection